.App {
  margin: 100px auto;
}

.Container {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.SourceCode {
  font-size: 15px;
  padding: 1%;
  text-align: center;
}
.SourceCode a {
  font-size: 16px;
  text-decoration: none;
}

.SourceCode a:hover {
  transition: all 200ms ease-in-out;
  color: aquamarine;
}

.darktheme {
  background: #22313f;
}

.darktheme .App {
  color: white;
}
