.App {
  color: rgb(0, 0, 0);
  margin: 15px auto;
}

.Container {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.Modetheme {
  margin: 5px;
}

#dark {
  color: white;
}

.SourceCode {
  font-size: 15px;
  padding: 1%;
  text-align: center;
}
.SourceCode a {
  transition: all 200ms ease-in-out;
  font-weight: 700;
  color: #004e75;
  font-size: 16px;
  text-decoration: none;
}

.SourceCode a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(96, 52, 126);
}

.darktheme {
  background: #22313f;
}

.darktheme footer {
  color: white;
}

#dark .SourceCode a {
  transition: all 200ms ease-in-out;
  font-weight: 700;
  color: #256cf9;
  font-size: 16px;
  text-decoration: none;
}

#dark .SourceCode a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(192, 119, 241);
}
